{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "jsx": true
    },
    "experimentalObjectRestSpread": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-cond-assign": 2,
    "no-constant-condition": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-semi": 2,
    "no-inner-declarations": 2,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "no-unsafe-negation": 2,
    "no-alert": 2,
    "no-caller": 2,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-fallthrough": 2,
    "no-global-assign": 2,
    "no-magic-numbers": [2, {"ignore": [0, 1, 2]}],
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-redeclare": 2,
    "no-self-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-useless-return": 2,
    "no-delete-var": 2,
    "no-undef": 2,
    "no-use-before-define": 2,
    "strict": 2,
    "use-isnan": 2,
    // jsdoc要规范
    "valid-jsdoc": 2,
    // 方法复杂度
    "complexity": ["error", { "max": 12 }],
    // 方法、类、变量驼峰式命名
    "camelcase": 2,
    // 换行方式
    "curly": [2, "all"],
    // 括号后面必须有空格
    "block-spacing": [2, "always"],
    // 代码段括号和换行的风格规范
    "brace-style": [2, "1tbs"],
    // 逗号后面必须要有空格
    "comma-spacing": 2,
    // 方法调用，方法名和括号之间不能有空格
    "func-call-spacing": [2, "never"],
    // 代码复杂度：最多4层括号深度
    "max-depth": [2, 4],
    // 代码复杂度：一行最多120个字符
    "max-len": [2, { "code": 120, "ignoreUrls": true, "ignoreStrings": true, "ignoreTemplateLiterals": true, "ignoreRegExpLiterals": true }],
    // 一个文件最多500行（不含空行和注释）
    "max-lines": [2, {"max": 600, "skipBlankLines": true, "skipComments": true}],
    // 一个方法代码行数不能超过50行
    "max-statements": [2, 50],
    // 不允许连续多个空行
    "no-multiple-empty-lines": 2,
    // 代码块括号前后不允许多余的空行
    "padded-blocks": [2, "never"],
    // 要求jsdoc
    "require-jsdoc": [2, {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": false,
        "ArrowFunctionExpression": false
      }
    }],
    // 操作符之间要有空格
    "space-infix-ops": 2,
    // 不允许使用var
    "no-var": 2,
    // 声明未用的变量，警告
    "no-unused-vars": 1
  }
}